@using WebMatrix.Data
@{
    ViewBag.Title = "Card Detail";
    var db = Database.Open("LoRDatabase");

    var detailPage = Request.QueryString["id"];
    var cardType = Request.QueryString["type"];

    var sql = @"SELECT *,(SELECT string_agg(ES.encounterName, ', ')
         FROM Cards AS C
         LEFT JOIN QuestCards AS QC
         ON QC.cardID = C.cardID LEFT
         JOIN EncounterSetInQuests AS ESI ON ESI.cardID = C.cardID
         JOIN EncounterSets AS ES
         ON ES.encounterID = ESI.encounterID
         WHERE C.cardID = @0) as encounterSet,
CONCAT(I.illustratorFirstname, ' ', I.illustratorLastName) AS IllustratorName,
(SELECT COUNT(*) AS Review FROM Reviews AS Re WHERE Re.cardID = @0) AS Review,
(SELECT AVG(R.userRating) AS rating FROM Reviews AS R WHERE R.cardID = @0) AS rating,
(SELECT STRING_AGG(CT.cardTrait, ', ') 
       FROM Cards C
       LEFT JOIN CardHasTraits AS CHT ON CHT.cardID = C.cardID
       LEFT JOIN CardTraits AS CT ON CT.cardTraitID = CHT.cardTraitID
       WHERE C.cardID = @0) as traits
         FROM Cards AS C
         LEFT JOIN CardTypes AS CT
         ON C.cardTypeID = CT.cardTypeID
         LEFT JOIN ExpansionSets AS EXSS
         ON EXSS.setID = C.setID
         LEFT JOIN CardIllustrators AS CI
         ON CI.cardID = C.cardID
         LEFT JOIN Illustrators AS I
         ON I.illustratorID = CI.illustratorID";

    var detailReview = "SELECT * FROM Reviews WHERE cardID = @0";
    var reviews = db.Query(detailReview, detailPage);

    if (Request.QueryString["type"] == "Hero" || Request.QueryString["type"] == "Ally" || Request.QueryString["type"] == "Attachment" || Request.QueryString["type"] == "Event")
    {
        sql += @" LEFT JOIN PlayerCards AS PC
             ON PC.cardID = C.cardID
             LEFT JOIN PlayerCombatCards AS PCC
             ON PCC.cardID = PC.cardID
             LEFT JOIN CardCombatStats AS CCS
             ON CCS.cardID = PC.cardID";
    }

    else if (Request.QueryString["type"] == "Enemy" || Request.QueryString["type"] == "Location" || Request.QueryString["type"] == "Treachery" || Request.QueryString["type"] == "Objective")
    {
        sql += @" LEFT JOIN EncounterCards AS EC
              ON EC.cardID = C.cardID
              LEFT JOIN EncounterSets AS ES1
              ON ES1.encounterID = EC.encounterID
              FULL OUTER JOIN EncounterThreatCards AS ETC
              ON ETC.cardID = C.cardID
              LEFT JOIN EnemyCards AS ENC
              ON ENC.cardID = C.cardID
              LEFT JOIN LocationCards AS LC
              ON LC.cardID = C.cardID
              LEFT JOIN CardCombatStats AS CCS
              ON CCS.cardID = C.cardID";

    }
    else
    {
        sql += @" LEFT JOIN QuestCards AS QC
            ON QC.cardID = C.cardID
            LEFT JOIN EncounterSetInQuests AS ESIQ
            ON ESIQ.cardID = QC.cardID
            LEFT JOIN EncounterSets AS ES
            ON ES.encounterID = ESIQ.encounterID";
                      
    }
    sql += @" WHERE C.cardID = @0";
    var data = db.QuerySingle(sql, detailPage);
}

<div class="container justify-content-center">
        <h2 class="mb-5">Detail</h2>
    </div>

    @if (data != null)
    {
        <div class=" row justify-content-center">          
            <div class="d-block ml-5">
                <div class="row">
                    <img src="@data.imageURL" alt="@data.cardName" />
                    <div class="card" style="width: 30rem;">
                        <div class="card-body">
                            <h3 class=" font-weight-bold text-center d-block card-title">@data.cardName</h3>
                            @if (data.cardRules != null)
                            {
                                <p class="card-text text-center font-italic font-weight-bold">@data.cardRules</p>
                            }
                            else
                            {
                                <p class="text-danger font-italic text-lg-center p-5">**No Rule Description**</p>
                            }

                            @if (data.cardFlavourText != null)
                            {
                                <p class="text-muted text-center"><span class="font-weight-bold">Flavour Text: </span>"@data.cardFlavourText"</p>
                            }
                            else
                            {
                                <p class="text-center text-danger">**No Flavour Text**</p>
                            }
                        </div>
                        <h6 class="font-weight-bold border border-primary rounded p-2 ml-5 mr-5 text-center bg-warning">Card Number: @data.cardNumberInSet</h6>
                        <ul>
                            @if (data.cardType == "Hero" || data.cardType == "Ally" || data.cardType == "Attachment" || data.cardType == "Event")
                            {
                                if (data.cost != null)
                                {
                                    <li class="font-weight-bold mt-2 ml-4">Cost: <span class="text-danger">@data.cost</span></li>
                                }
                                if (data.attack != null || data.defence != null || data.hitPoints != null)
                                {
                                    <li class="font-weight-bold mt-2 ml-4 bi bi-lightning-charge">Attack: <span class="text-danger">@data.attack</span></li>
                                    <li class="font-weight-bold mt-2 ml-4 bi bi-shield-fill">Defence: <span class="text-danger">@data.defence</span></li>
                                    <li class="font-weight-bold mt-2 ml-4 bi bi-hammer">Hit Points: <span class="text-danger">@data.hitPoints</span></li>
                                }
                                if (data.willpower != null)
                                {
                                    <li class="font-weight-bold mt-2 ml-4 bi bi-sun">Willpower: <span class="text-danger">@data.willpower</span></li>
                                }
                            }
                            else if (data.cardType == "Enemy" || data.cardType == "Location" || data.cardType == "Treachery" || data.cardType == "Objective")
                            {
                                if (data.attack != null || data.defence != null || data.hitPoints != null)
                                {
                                    <li class="font-weight-bold mt-2 ml-4 bi bi-lightning-charge">Attack: <span class="text-danger">@data.attack </span></li>
                                    <li class="font-weight-bold mt-2 ml-4 bi bi-shield-fill">Defence: <span class="text-danger">@data.defence</span></li>
                                    <li class="font-weight-bold mt-2 ml-4 bi bi-hammer">Hit Points: <span class="text-danger">@data.hitPoints</span></li>
                                }
                                if (data.threat != null)
                                {
                                    <li class="font-weight-bold mt-2 ml-4 bi bi-arrow-through-heart">Threat: <span class="text-danger">@data.threat</span></li>
                                }
                                if (data.threatThreshold != null)
                                {
                                    <li class="font-weight-bold mt-2 ml-4 bi bi-arrow-through-heart-fill">Threat Threshold: <span class="text-danger">@data.threatThreshold</span></li>
                                }
                                if (data.questPoints != null)
                                {
                                    <li class="font-weight-bold mt-2 ml-4">Quest Points: <span class="text-danger">@data.questPoints</span></li>
                                }
                                if (data.encounterName != null)
                                {
                                    <li class="font-weight-bold mt-2 ml-4">Encounter Set: <span class="text-danger">@data.encounterName</span></li>
                                }
                                if (data.shadowCardRules != null)
                                {
                                    <li class="small font-weight-bold mt-4 text-muted text-center mb-3 mr-2">Shadow Card Rules: "@data.shadowCardRules"</li>
                                }
                            }
                            else
                            {
                                if (data.questPoints != null)
                                {
                                    <li class="font-weight-bold mt-2 ml-4">Quest Points: <span class="text-danger">@data.questPoints</span></li>
                                }
                                <li class="font-weight-bold mt-2 ml-4">Quest Number: <span class="text-danger">@data.questNumber</span></li>
                                <li class="font-weight-bold mt-2 ml-4">Side: <span class="text-danger">@data.side</span></li>
                                if (data.encounterSet != null)
                                {
                                    <li class="font-weight-bold mt-2 ml-4">Encounter Info: <span class="text-danger">@data.encounterSet</span></li>
                                }

                            }
                        </ul>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-warning">
                                <span class="font-weight-bold">Affiliation: </span>@data.affiliationType
                            </li>
                            @if (data.traits != null)
                            {
                                <li class="list-group-item list-group-item-success">
                                    <span class="font-weight-bold">Traits: </span>@data.traits
                                </li>
                            }
                            else
                            {
                                <li class="list-group-item">
                                    <span class="font-weight-bold text-danger">**No Traits**</span>
                                </li>
                            }
                            @if (data.isUnique)
                            {
                                <li class="list-group-item list-group-item-danger">
                                    <span class="font-weight-bold">Unique Card</span>
                                </li>
                            }
                            else
                            {
                                <li class="list-group-item">
                                    <span class="font-weight-bold text-danger">Not Unique Card</span>
                                </li>
                            }
                            <li class="list-group-item list-group-item-info">
                                <span class="font-weight-bold">Card Type: </span>@data.cardType
                            </li>
                            <li class="list-group-item list-group-item-secondary">
                                <span class="font-weight-bold">Illustrator: </span>@data.IllustratorName
                            </li>
                            <li class="list-group-item list-group-item-primary">
                                <span class="font-weight-bold">Expansion Set: </span>@data.setName
                            </li>
                        </ul>
                        <div class="card-body text-center">
                            <form method="post" action="/Home/Details?id=@data.cardID&type=@data.cardType">
                                @if (data.Review == 0)
                                {
                                    <button type="submit" class="btn btn-outline-success text-dark font-weight-bold" disabled>
                                        @data.Review Review
                                        Average Rating:
                                        <div class="rating-stars mt-1">
                                            @for (var i = 1; i <= 5; i++)
                                            {
                                                <span class="text-muted">&#9734;</span>
                                            }
                                        </div>
                                    </button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-outline-success text-dark font-weight-bold">
                                        @data.Review @(data.Review == 1 || data.Review == 0 ? "Review" : "Reviews"),
                                        Average Rating:
                                        <div class="rating-stars mt-1">
                                            @for (var i = 1; i <= 5; i++)
                                            {
                                                if (i <= data.rating)
                                                {
                                                    <span class="text-warning">&#9733;</span>
                                                }
                                                else
                                                {
                                                    <span class="text-muted">&#9734;</span>
                                                }
                                            }
                                        </div>
                                        <small class="text-muted">Click to see reviews ^^</small>
                                    </button>
                                }
                            </form>
                            <button onclick="history.back();" class="btn btn-secondary mt-4">
                                <div class="bi bi-arrow-bar-left"> Go Back</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <hr />
    @if (IsPost)
    {
        <div class="row justify-content-center">
            @foreach (var line in reviews)
            {
                <div class="card ml-3 mr-3 shadow-lg mt-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-text text-center">"@line.reviewBody"</h5>
                        <div class="rating-section text-center">
                            <div class="rating-stars mt-1">
                                @for (var i = 1; i <= 5; i++)
                                {
                                    if (i <= line.userRating)
                                    {
                                        <span class="text-warning">&#9733;</span>
                                    }
                                    else
                                    {
                                        <span class="text-muted">&#9734;</span>
                                    }
                                }
                            </div>
                        </div>
                        <p class="text-center text-muted">@line.userName</p>

                    </div>
                </div>
            }
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-warning text-dark font-weight-bold" onclick="history.back()">Hide Reviews</button>
        </div>
    }

